<header>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" height="500px" src="/assets/header-image.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Database Project</h5>
                    <p>Kepler Mission Planetary Discoveries</p>
                </div>
            </div>
        </div>
    </div>
</header>

<footer>
<div class="fixed-bottom bg-dark" height= "30px">
    <div class="footer-copyright text-center" style="color: white; font-size: 10pt;">© 2020 Copyright: Graciel Angelica Obena (92obgr1mst@hft-stuttgart.de) | Irman Omerovic (92omir1mst@hft-stuttgart.de) | Varun Srivastava (92srva1mst@hft-stuttgart.de)</div>
</div>
</footer>