/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.padding50px {
  padding-bottom: 50px;
}


html,
body {
  height: 100%;
}

mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

.label-align {
  justify-content: left;
}

#modal-content-wrapper {
  color: white;
  width: auto;
  align-items: left;
}
